In [1]:
import requests
import pandas as pd

In [3]:
# Define the API endpoint for the specified indicator
indicator_code = "SA_0000001444"
url = f"https://ghoapi.azureedge.net/api/{indicator_code}"

In [5]:
# Send a GET request to the API
response = requests.get(url)

In [7]:
# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    print("Data fetched successfully!")
else:
    print(f"Failed to fetch data. Status code: {response.status_code}")
    exit()

Data fetched successfully!

In [9]:
# Normalize the JSON data into a pandas DataFrame
df = pd.json_normalize(data['value'])

# Display the first few rows of the DataFrame
print(df.head())

        Id  IndicatorCode SpatialDimType SpatialDim ParentLocationCode  \
0  4005777  SA_0000001444        COUNTRY        EST                EUR
1     5547  SA_0000001444        COUNTRY        IND               SEAR
2  2081574  SA_0000001444        COUNTRY        FJI                WPR
3   465140  SA_0000001444        COUNTRY        MUS                AFR
4  3169152  SA_0000001444        COUNTRY        CZE                EUR

  TimeDimType   ParentLocation Dim1Type  TimeDim      Dim1  ... DataSourceDim  \
0        YEAR           Europe      SEX     2004   SEX_MLE  ...          None
1        YEAR  South-East Asia      SEX     2004   SEX_MLE  ...          None
2        YEAR  Western Pacific      SEX     2004  SEX_FMLE  ...          None
3        YEAR           Africa      SEX     2004  SEX_BTSX  ...          None
4        YEAR           Europe      SEX     2004  SEX_BTSX  ...          None

   Value NumericValue   Low  High Comments                       Date  \
0  326.7        326.7  None  None     None  2013-06-11T14:15:34+02:00
1  239.3        239.3  None  None     None  2013-06-11T14:15:34+02:00
2   71.9         71.9  None  None     None  2013-06-11T14:15:34+02:00
3  225.1        225.1  None  None     None  2013-06-11T14:15:34+02:00
4  148.0        148.0  None  None     None  2013-06-11T14:15:34+02:00

   TimeDimensionValue         TimeDimensionBegin           TimeDimensionEnd
0                2004  2004-01-01T00:00:00+01:00  2004-12-31T00:00:00+01:00
1                2004  2004-01-01T00:00:00+01:00  2004-12-31T00:00:00+01:00
2                2004  2004-01-01T00:00:00+01:00  2004-12-31T00:00:00+01:00
3                2004  2004-01-01T00:00:00+01:00  2004-12-31T00:00:00+01:00
4                2004  2004-01-01T00:00:00+01:00  2004-12-31T00:00:00+01:00

[5 rows x 25 columns]

In [11]:
df

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,TimeDim,Dim1,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,4005777,SA_0000001444,COUNTRY,EST,EUR,YEAR,Europe,SEX,2004,SEX_MLE,...,None,326.7,326.7,None,None,None,2013-06-11T14:15:34+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
1,5547,SA_0000001444,COUNTRY,IND,SEAR,YEAR,South-East Asia,SEX,2004,SEX_MLE,...,None,239.3,239.3,None,None,None,2013-06-11T14:15:34+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
2,2081574,SA_0000001444,COUNTRY,FJI,WPR,YEAR,Western Pacific,SEX,2004,SEX_FMLE,...,None,71.9,71.9,None,None,None,2013-06-11T14:15:34+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
3,465140,SA_0000001444,COUNTRY,MUS,AFR,YEAR,Africa,SEX,2004,SEX_BTSX,...,None,225.1,225.1,None,None,None,2013-06-11T14:15:34+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
4,3169152,SA_0000001444,COUNTRY,CZE,EUR,YEAR,Europe,SEX,2004,SEX_BTSX,...,None,148.0,148.0,None,None,None,2013-06-11T14:15:34+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,32364,SA_0000001444,COUNTRY,TUR,EUR,YEAR,Europe,SEX,2004,SEX_FMLE,...,None,176.5,176.5,None,None,None,2013-06-11T14:15:34+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
569,410936,SA_0000001444,COUNTRY,DJI,EMR,YEAR,Eastern Mediterranean,SEX,2004,SEX_FMLE,...,None,214.0,214.0,None,None,None,2013-06-11T14:15:34+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
570,9171368,SA_0000001444,COUNTRY,LKA,SEAR,YEAR,South-East Asia,SEX,2004,SEX_FMLE,...,None,75.6,75.6,None,None,None,2013-06-11T14:15:34+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
571,4796140,SA_0000001444,COUNTRY,ATG,AMR,YEAR,Americas,SEX,2004,SEX_FMLE,...,None,59.6,59.6,None,None,None,2013-06-11T14:15:34+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
572,4181150,SA_0000001444,COUNTRY,WSM,WPR,YEAR,Western Pacific,SEX,2004,SEX_FMLE,...,None,71.3,71.3,None,None,None,2013-06-11T14:15:34+02:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00

In [23]:
df.loc["SpatialDim"]

KeyError: 'SpatialDim'

In [ ]:
# Save the data to a CSV file for further analysis
output_file = f"{indicator_code}_data.csv"
df.to_csv(output_file, index=False)
print(f"Data saved to {output_file}")